# Copia a .env si quieres fijarlo sin exportar variables
HADOOP_VERSION=3.3.6
CLUSTER_NAME=hadoop-lab

# Para evitar problemas de permisos con el montaje NFS:
HOST_UID=1000
HOST_GID=1000

# Usuario HDFS exportado por NFS (por defecto luser)
HDFS_MOUNT_USER=luser

# Opciones de montaje NFS para mount-hdfs.sh (prioriza estabilidad de escritura)
HDFS_NFS_MOUNT_OPTS=nfsvers=3,proto=tcp,mountproto=tcp,port=2049,mountport=4242,nolock,noacl,hard,timeo=150,retrans=5
